
<form [formGroup]="form"  (ngSubmit)="save()">

   <label for='numberId' >Ширина на платното</label>
    <input id='numberId' class="form-control"   type="text" formControlName="numberL">
  
  <label for='widthId' >Ширина на платното</label>
    <input id='widthId' class="form-control"   type="text" formControlName="width">
    
  <label for='radiusPrId' >Проектен радиус</label>
    <input id='radiusPrId' class="form-control"   type="text" formControlName="radiusPr">
  <button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid">Submit</button>

</form>

<h3>{{broadening}}</h3>