<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav " routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="./broadlane">Уширение</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="./test5">Test5</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="./test6">Test6</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="./test7">Test7</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="./test8">Test8</a></li>
			<li>
				<a [routerLink]="[{ outlets: { 'sidebar': ['tablica'] } }]">Таблица</a>
			</li>

		</ul>
	</div>
</nav>



<div class="row">
	<div class="col-md-6">
		<router-outlet></router-outlet>
	</div>
	<div>
		<div class="col-md-6" >
			<router-outlet name="sidebar"></router-outlet>
		</div>
	</div>
</div>