<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav " routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="./broadlane">Уширение</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="./test5">Test5</a></li>
      <li>

			   <a [routerLink]="[{ outlets: { 'sidebar': ['tablica'] } }]">Таблица</a>
      </li>
    
		</ul>
	</div>
</nav>

<div style="border: 2px solid blue; padding: 1rem;">
      <router-outlet name="sidebar"></router-outlet>
    </div>

<router-outlet></router-outlet>