

<input type='file' accept='text/plain' multiple (change)='openFile($event)'>

<!-- <button (click)='getColumns()' class="btn btn-primary">Button</button> -->

<form (ngSubmit)='onSubmit()' [formGroup]="form">
    <div class="row">
        <div class="form-group  col-md-6">
            <label for="tableNumber">Номер на таблица</label>
            <input formControlName='tableNumber' id="tableNumber" type="text" class="form-control">
        </div>
    </div>

    <!-- <button [disabled]='!form.valid' class="btn btn-primary" type="submit" >Пресметни</button> -->

</form>

<table *ngIf='tangentEls.length >0 ' class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sequence</th>
        <th scope="col">Name</th>
        <th scope="col">Length</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let el of tangentEls; let i=index'>
        <th scope="row">{{i+1}}</th>
        <td>{{el.count}}</td>
        <td>{{el.name}}</td>
        <td>{{el.length}}</td>
        <td>{{el.course}}</td>
      </tr>
    </tbody>
  </table>

  
<table *ngIf='CircularEls.length >0 ' class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sequence</th>
        <th scope="col">Name</th>
        <th scope="col">Length</th>
        <th scope="col">Course</th>
        <th scope="col">Radius</th>
        <th scope="col">Chord</th>
        <th scope="col">Delta</th>
        <th scope="col">Mid-ord</th>
        <th scope="col">Type</th>
        <th scope="col">Tangent</th>
        <th scope="col">External</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let el of CircularEls; let i=index'>
        <th scope="row">{{i+1}}</th>
        <td>{{el.count}}</td>
        <td>{{el.name}}</td>
        <td>{{el.length}}</td>
        <td>{{el.course}}</td>
        <td>{{el.radius}}</td>
        <td>{{el.chord}}</td>
        <td>{{el.delta}}</td>
        <td>{{el.midOrd}}</td>
        <td>{{el.type}}</td>
        <td>{{el.tangent}}</td>
        <td>{{el.external}}</td>
      </tr>
    </tbody>
  </table>


   <table *ngIf='SpiralEls.length >0 ' class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sequence</th>
          <th scope="col">Name</th>
          <th scope="col">Length</th>
          <th scope="col">Course</th>
          <th scope="col">Radius</th>
          <th scope="col">Chord</th>
          <th scope="col">Theta</th>
          <th scope="col">X</th>
          <th scope="col">Y</th>
          <th scope="col">L-Tan</th>
          <th scope="col">S-Tan</th>
          <th scope="col">P</th>
          <th scope="col">K</th>
          <th scope="col">A</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let el of SpiralEls; let i=index'>
          <th scope="row">{{i+1}}</th>
          <td>{{el.count}}</td>
          <td>{{el.name}}</td>
          <td>{{el.length}}</td>
          <td>{{el.course}}</td>
          <td>{{el.radius}}</td>
          <td>{{el.chord}}</td>
          <td>{{el.theta}}</td>
          <td>{{el.x}}</td>
          <td>{{el.y}}</td>
          <td>{{el.lTan}}</td>
          <td>{{el.sTan}}</td>
          <td>{{el.P}}</td>
          <td>{{el.K}}</td>
          <td>{{el.A}}</td>
        </tr>
      </tbody>
    </table>


