<div *ngIf=''>

</div>
Първоначална кривата
<hr>
<div>
	<div> Тангентата: <strong>{{kriva?.kragova.tangenta}}      </strong> </div>
	<div> Бисектрисата: <strong>{{kriva?.kragova.bisektrisa}} </strong> </div>
	<div> Дължината на кривата: <strong>{{kriva?.kragova.D}} </strong> </div>
	<div> Централен ъгъл: <strong>{{kriva?.kragova.delta}} </strong> </div>
</div>
<hr>

Преходна крива
<div>
<div>Дължина: {{kriva?.prehod.Lp}}</div>
<div>

Тангенциално отместване: 
{{kriva?.deltaR}}
</div>
Тангентен ъгъл :
{{kriva?.prehod.thethaGrad}}
Xm:
{{kriva?.xm}}
T:
{{kriva?.T}}


Абциса в КП :
{{kriva?.prehod.endX}}


Ордината в КП :
{{kriva?.prehod.endY}}
</div>
  


<form [formGroup]="form" (ngSubmit)="save()">

	<label for='rId' >Радиус</label>
	<input id='rId' class="form-control"   type="text" formControlName="r">

	<label for='betaId' >Върхов ъгъл</label>
	<input id='betaId' class="form-control"   type="text" formControlName="beta">

	<label for='AId' >Параметър А</label>
	<input id='AId' class="form-control"   type="text" formControlName="A">
	<button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid">Submit</button>

</form>