<div *ngIf='' >

</div>

<div>Тангентата:</div>
<h3>{{horKrivaEl?.tangenta}}</h3>

<div>Бисектрисата:</div>
<h3>{{bisektrisa}}</h3>

<div>Дължината на кривата:</div>
<h3>{{D}}</h3>

<div>Централен ъгъл:</div>
<h3>{{delta}}</h3>

<div>Преходна крива</div>
<h3>{{Lp}}</h3>

<div>Тангенциално отместване: </div>
<h3>{{deltaR}}</h3>

<div>Тангентен ъгъл :</div>
<h3>{{thethaGrad}}</h3>


<div>Абциса в КП :</div>
<h3>{{xk}}</h3>


<div>Ордината в КП :</div>
<h3>{{yk}}</h3>


<form [formGroup]="form"  (ngSubmit)="save()">

   <label for='rId' >Радиус</label>
    <input id='rId' class="form-control"   type="text" formControlName="r">
  
  <label for='betaId' >Върхов ъгъл</label>
    <input id='betaId' class="form-control"   type="text" formControlName="beta">
    
  <label for='AId' >Параметър А</label>
    <input id='AId' class="form-control"   type="text" formControlName="A">
  <button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid">Submit</button>

</form>