<div *ngIf='' >

</div>

<p>Тангентата:</p><h3>{{kriva?.kragova.tangenta}}</h3>
<p>Бисектрисата:</p><h3>{{kriva?.kragova.bisektrisa}}</h3>
<p>Дължината на кривата:</p><h3>{{kriva?.kragova.D}}</h3>
<p>Централен ъгъл:</p><h3>{{kriva?.kragova.delta}}</h3>
<p>Преходна крива</p><h3>{{kriva?.prehod.Lp}}</h3>
<p>Тангенциално отместване: </p><h3>{{kriva?.deltaR}}</h3>
<p>Тангентен ъгъл :</p><h3>{{kriva?.prehod.thethaGrad}}</h3>


<p>Абциса в КП :</p>
<h3>{{kriva?.prehod.endX}}</h3>


<p>Ордината в КП :</p>
<h3>{{kriva?.prehod.endY}}</h3>


<form [formGroup]="form"  (ngSubmit)="save()">

   <label for='rId' >Радиус</label>
    <input id='rId' class="form-control"   type="text" formControlName="r">
  
  <label for='betaId' >Върхов ъгъл</label>
    <input id='betaId' class="form-control"   type="text" formControlName="beta">
    
  <label for='AId' >Параметър А</label>
    <input id='AId' class="form-control"   type="text" formControlName="A">
  <button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid">Submit</button>

</form>